@model IEnumerable<PersonalTrainerWeb.Models.Supliment>

@{
    ViewData["Title"] = "Index";
}

<h3 style="text-align:center">Suplimente recomandate</h3>

<p>
    <a asp-action="Create">Adaugare supliment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Denumire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantitate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Modificare</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalii</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Stergere</a>
                </td>
            </tr>
        }
    </tbody>
</table>
